{% extends "layout.html" %}
{% block content %}
    <H1>Our Team</H1>
    <HR>
    <H2>Suraj Palaparty</H2>
    <H3>CEO</H3>
    <P>A UCLA Graduate with 4 years of BioTech Industry experience........</P>
    <HR>

    <H2>Prasad Palaparty</H2>
    <H3>CFO</H3>
    <P>He is your person to talk about financials related.......</P>
    <HR> 

    <H2>Amita Palaparty</H2>
    <H3>CTO</H3>
    <P>Holding a Bachelors and Masters degree in Computer Science, well... do I need to say she is a computer geek?</P>
    <HR> 

    <H2>Veda Palaparty</H2>
    <H3>CMO</H3>
    <P>A UCSD Graduate with 3 years of intern experience at a well renowned research industry and a side gig in marketing, she is all about putting the word out........</P>
    <HR> 

{% endblock content %}